@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #FCFCFC;
  --foreground: #171717;
  --accent-color:#F76B5D;
  --HeadlinePrimary: #393939;
  --text-secondary:#606060;
  --text-tertialry:#888888;
  --ivory-white:#fffff0;
  --bg-secondary:##F7F7F7;
}

body{
  background-color: var(--bg-primary,#fcfcfc);
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 10px;
  height: 20px;
}

::-webkit-scrollbar-track{
  background: #fbd2cf; 
  /* border-radius: 8px; */
}

::-webkit-scrollbar-thumb{
  background-color: #fb7165;
  border-radius: 4px;
  border:1px solid var(--accent-color)
}

::-webkit-scrollbar-thumb:hover {
  background-color:#e7574a; 
}

::-webkit-scrollbar-thumb:active {
  background-color: #d54437;
}

::selection {
  background-color:var(--accent-color); /* Highlight background color */
  color:white; /* Highlighted text color */
}

.floral{
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot{
  position: fixed;
  right: -4rem;
  bottom: 7rem;
  z-index: 15;
}
