@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #FCFCFC;
  --foreground: #171717;
  --accent-color:#F76B5D;
  --HeadlinePrimary: #393939;
  --text-secondary:#606060;
  --text-tertialry:#888888;
  --ivory-white:#fffff0;
  --bg-secondary:##F7F7F7;
}

body{
  background-color: var(--bg-primary,#fcfcfc);
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}


