.mainError{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 6.25rem;
}

.detailError{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    width: 100%;
}


.imgError{
    width: 18rem;
    height: fit-content;
}

.quote{
    color: var(--textTertiary, #393939);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.625rem; /* 140% */
    height: 6rem;
    width: 600px;
    text-wrap: wrap;
}

.errorCta{
    width: fit-content;
}




@media screen and  (max-width:1024px) and (min-width:768px){
    .quote{
        font-size: 1.25rem;
        line-height: 2.625rem; /* 140% */
        height: 6rem;
        text-wrap: wrap;
    }
    .errorCta{
        width: fit-content;
    }
} 

@media screen and (max-width:768px){
    .mainError{
        gap: 1rem;
    }
    .imgError{
        width: 90vw;
        height: fit-content;
    }
    .quote{
        text-align: left;
        font-size: 1rem;
        line-height: 2rem; 
        text-wrap: wrap;
        width: 90vw;
    }
    .detailError{
        width: fit-content;
    }
    .errorCta{
        width: 90vw;
    }
}