.mainError{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 6.25rem;
}

.detailError{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    width: 100%;
}


.imgError{
    width: 18rem;
    height: fit-content;
}

.quote{
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.625rem; /* 140% */
    height: 6rem;
    width: 600px;
    text-wrap: wrap;
}