.testimonialsSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    width: 100vw;
    margin-bottom: 4.63rem;
    background: #f3f3f3;
    padding: 5rem 0;
    overflow-x: auto;
}

.cardsContainer::-webkit-scrollbar{
    display: none;
}

.cardsContainer{
    display: flex;
    width: 100%;
    overflow-x: auto;
    margin-top: 4rem;
    padding: 1rem 2rem;
    gap: 2rem;
    overflow-x: scroll;
}


.cardBg{
    position:absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    opacity: 0.85;
}

/* .card{
    position: relative;
    width: 28rem;
    height: 26rem;
} */

.card {
    display: flex;
    justify-content: center;
    align-items:start;
    position: relative;
    width: 28rem;
    height: 26rem;
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align:left;
    gap: 1.5rem;
    padding: 0 3rem;
    max-width: 22rem;
    width: 100%;
    z-index: 3;
    margin-top: 4.5rem;
  }
  

.cardTopDetails{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 0.75rem;
}

.cardTopRight{
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 0.25rem;
}

.name{
    color: var(--HeadlinePrimary, #393939);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.04125rem;
    text-transform: uppercase;
}

.rating{
    width: 6rem;
}

.quote{
    color: var(--HeadlinePrimary, #606060);
    font-size: 1rem;
    font-weight: 400;
}

/* .cardContent{
    position: absolute;
    display: flex;
    width: 15.61875rem;
    flex-direction: column;
    align-items: center;
    gap: 1.275rem;
    top: 3rem;
    left:4.5rem;
    text-align: center;
} */

.profile{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5.3125rem;
    border: 0.85px solid #D1D1D1;
    overflow: hidden;
}

.profileImg{
    object-fit: contain;
}

.cta{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.left{
    cursor: pointer;
    width:3.25rem;
    height:3.25rem;
}

.right{
    cursor: pointer;
    width:3.25rem;
    height:3.25rem;
}