.testimonialsSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    width: 100vw;
    margin-bottom: 4.63rem;
    background: #f3f3f3;
    padding: 5rem 0;
    overflow-x: auto;
}

.cardsContainer::-webkit-scrollbar{
    display: none;
}

.cardsContainer{
    display: flex;
    width: 100%;
    overflow-x: auto;
    margin-top: 4rem;
    padding: 1rem 2rem;
    gap: 2rem;
    overflow-x: scroll;
}


.cardBg{
    position:absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    opacity: 0.85;
}

.card {
    display: flex;
    justify-content: center;
    align-items:start;
    position: relative;
    width: 28rem;
    height: 26rem;
    min-width: 25rem;
    max-width: 28rem;
}
  
  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align:left;
    gap: 1.5rem;
    padding: 0 3rem;
    max-width: 22rem;
    width: 100%;
    z-index: 3;
    margin-top: 4.5rem;
  }
  

.cardTopDetails{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 0.75rem;
}

.cardTopRight{
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 0.25rem;
}

.name{
    color: var(--HeadlinePrimary, #393939);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.04125rem;
    text-transform: uppercase;
}

.rating{
    width: 6rem;
}

.quote{
    color: var(--HeadlinePrimary, #606060);
    font-size: 1rem;
    font-weight: 400;
}

.profile{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5.3125rem;
    border: 0.85px solid #D1D1D1;
    overflow: hidden;
}

.profileImg{
    object-fit: contain;
}

.cta{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.left{
    cursor: pointer;
    width:3.25rem;
    height:3.25rem;
}

.right{
    cursor: pointer;
    width:3.25rem;
    height:3.25rem;
}

@media screen and (max-width:1024px) and (min-width:768px){
    .card {
        width: 23rem;
        height: 20rem;
        min-width: 22rem;
        max-width: 23rem;
    }
      
      .cardContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align:left;
        gap: 1rem;
        padding: 0 3rem;
        max-width: 20rem;
        width: 100%;
        z-index: 3;
        margin-top: 3rem;
      }
      
      .cardsContainer{
        margin-top: 3rem;
        padding: 1rem;
        gap: 1.5rem;
        overflow-x: scroll;
    }

    .quote{
        font-size: 0.9rem;
        display: -webkit-box;  
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;           
        overflow: hidden;                 
        text-overflow: ellipsis;  
    }
    
    .profile{
        width: 3.75rem;
        height: 3.75rem;
        overflow: hidden;
    }

    .rating{
        width: 4.5rem;
    }
    
}

@media screen and (max-width:768px){
    .card {
        width: 22rem;
        height: 20rem;
        min-width:20rem;
        max-width: 20rem;
    }
      
      .cardContent {
        gap: 0.75rem;
        padding: 0 3.5rem;
        max-width: 20rem;
        width: 100%;
        z-index: 3;
        margin-top: 3.25rem;
      }

      
      .cardsContainer{
        margin-top: 2rem;
        padding: 0.5rem;
        gap: 1rem;
        overflow-x: scroll;
    }

    .name{
        text-align: left;
        font-size: 0.8rem;
        line-height: 1.04125rem;
        text-transform: uppercase;
    }

    .quote{
        font-size: 0.85rem;
        display: -webkit-box;  
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;           
        overflow: hidden;                 
        text-overflow: ellipsis;  
    }
    
    .profile{
        width: 3.75rem;
        height: 3.75rem;
        overflow: hidden;
    }

    .rating{
        width: 4.5rem;
    }
    
}